<table>
    <tr>
        <td>
            @Html.TextBox("LoginUserName", "", new { placeholder = "Username" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.Password("LoginPassword", "", new { placeholder = "Password" })
        </td>
        <td>
            @Html.ActionLink("Reset Password", "ResetPassword", "Security")
        </td>
    </tr>
    <tr>
        <td>
            @Html.CheckBox("KeepSignedIn")
            @Html.Label("Keep me signed in")
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="SignIn" value="Sign In" />
        </td>
    </tr>
    <tr>
        <td>
            OR
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" id="CreateAnAccount" value="Create New Account" />
        </td>
    </tr>
</table>