@model KCD.ViewModel.CreateAccount
@{
    ViewBag.Title = "Create An Account";
}

@using (Html.BeginForm())
{
    <h2>Register</h2>

    <div>
        <table>
            <tr>
                <td>
                    <label>UserName:</label>
                </td>
                <td>
                    @Html.TextBox("UserName")
                </td>
            </tr>
            <tr>
                <td>
                    <label>First Name:</label>
                </td>
                <td>
                    @Html.TextBox("FirstName")
                </td>
            </tr>
            <tr>
                <td>
                    <label>Last Name:</label>
                </td>
                <td>
                    @Html.TextBox("LastName")
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email Address:</label>
                </td>
                <td>
                    @Html.TextBox("EmailAddress")
                </td>
            </tr>
            <tr>
                <td>
                    <label>Company:</label>
                </td>
                <td>
                    @Html.TextBox("Company")
                </td>
            </tr>
            <tr>
                <td>
                    <label>Recieve Emails:</label>
                </td>
                <td>
                    @Html.CheckBox("CanSendEmails", true)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Contacted by Sponsers:</label>
                </td>
                <td>
                    @Html.CheckBox("CanBeContactedBySponsers", true)
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password:</label>
                </td>
                <td>
                    @Html.Password("Password")
                </td>
            </tr>
            <tr>
                <td>
                    <label>Re-Enter:</label>
                </td>
                <td>
                    @Html.Password("PasswordConfirmation")
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="btnSave" value="Submit" />
                </td>
            </tr>
        </table>
    </div>
}