@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    <h2>@ViewBag.Title</h2>

    <table>
        <tr>
            <td>
                @Html.TextBox("ResetUserName", "", new { placeholder = "Username" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Password("CurrentPassword", "", new { placeholder = "Current Password" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Password("NewPassword", "", new { placeholder = "New Password" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Password("ConfirmPassword", "", new { placeholder = "Confirm Password" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="ResetPassword" value="Reset" />
            </td>
        </tr>
    </table>

    @Scripts.Render("~/Scripts/Custom/ResetPassword.js")
}